@model User
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utc-8">
        <title>Survey Submit</title>
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <partial name="NavPartial"></partial>
        <h1>Successfully Registered!</h1>
    </body>
</html>