<!DOCTYPE html>
<html>
    <head>
        <title>Using Session</title>
        <meta charset="utc-8">
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <h1>Enter a Fruit!</h1>
        <form action="fruit" method="post">
            <label>What fruit do you like?</label>
            <input type="text" name="newFruit">
            <input type="submit" value="Choose!">
        </form>
    </body>
</html>