<!DOCTYPE html>
<html>
    <head>
        <title>Using Session</title>
        <meta charset="utc-8">
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <p>Fruit stored in session is @ViewBag.Fruit and we have @ViewBag.FruitAmount of them.</p>
        <button><a href="/add">Click to get more fruit!</a></button>
        <button><a href="/clear">Click to choose new fruit!</a></button>
    </body>
</html>