<!DOCTYPE html>
<html>
    <head>
        <meta charset="utc-8">
        <title>Example Title</title>
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <h1>Hello from your View</h1>
    </body>
</html>