<!DOCTYPE html>
<html>
    <head>
        <title>Sign-up Form</title>
        <meta charset='utc-8'>
    </head>
    <body>
        <h1>Welcome to Wizard Registration</h1>
        <p>Please fill out the form below: <p>
        <form action="result" method="post">
            <label>Your Name: </label>
            <input type="text" name="Name">
            <br>
            <label>Your House: </label>
            <select name="House">
                <option value="Red Falcon">Red Falcon</option>
                <option value="Blue Serpent">Blue Serpent</option>
                <option value="Purple Badger">Purple Badger</option>
                <option value="Green Owl">Green Owl</option>
            </select>
            <br>
            <label>Your Year: </label>
            <input type="number" name="CurrentYear">
            <input type="submit" value="You belong to...">
        </form>
    </body>
</html>