@using WizardRegister.Models
@model Wizard
<!DOCTYPE html>
<html>
    <head>
        <title>Wizard Display</title>
        <meta charset='utc-8'>
    </head>
    <body>
        <h1>Welcome to Wizard Display</h1>
        <h2>Student details below: </h2>
        <p>Name: @Model.Name</p>
        <p>House: @Model.House</p>
        <p>Current Year: @Model.CurrentYear</p>   
    </body>
</html>