<!DOCTYPE html>
<html>
    <head>
        <title>Using Multiple Models</title>
        <meta charset="utc-8">
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <div id="container">
            <h1>Welcome to Multi-Form</h1>
            <div class="productForm">
                <h2>Add a Product</h2>
                <partial name="ProductPartial"></partial>
            </div>
            <div class="userForm">
                <h2>Add a User</h2>
                <partial name="UserPartial"></partial>
            </div>
        </div>
    </body>
</html>